@import "variables";
@import "mixins";
@import "fonts";

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $regular_font_size;
    line-height: $default_line_height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;
}


a {
    color: #9e4b8c;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
        text-decoration: underline;
    }
}

p {
    margin: 0 0 .5em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}




/* Vendor libs
==========================*/
@import "vendor/_normalize";
@import "fontawesome/font-awesome";
@import "vendor/animate";
@import "vendor/modal";
@import "vendor/slick";


@import "blocks/header";
@import "blocks/page";
@import "blocks/content";
@import "blocks/btn";
@import "blocks/courses";
@import "blocks/choose";
@import "blocks/exam";
@import "blocks/question";
@import "blocks/radio";
@import "blocks/form";
@import "blocks/input";
@import "blocks/footer";


@import "helpers";
