<footer class="footer">
    <div class="footer__inner">

        <div class="footer__left">
            <div><b>© 2017 CryptoPolice</b> ALL RIGHTS RESERVED</div>
        </div>

        <div class="footer__right">
            <div class="footer__social">
                <span>Follow us</span>
                <a href="https://www.facebook.com/CryptoPoliceio" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/Crypto_Police" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/cryptopolice" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="#" target="_blank"><i class="fa fa-bitcoin"></i></a>
                <a href="#" target="_blank"><i class="fa fa-reddit-alien"></i></a>
            </div>
        </div>

    </div>
</footer>
