<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CryptoPolice is first community based cryptocurrency police on blockchain">
<meta name="keywords" content="Crypto Police, CryptoPolice.io, blockchain, cryptocurrency, ico">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">

<meta property="og:title" content="CryptoPolice" />
<meta property="og:type" content="website" />
<meta property="og:description" content="CryptoPolice is first community based cryptocurrency police on blockchain" />
<meta property="og:image" content="https://cryptopolice.io/assets/i/police-hat-logo.png" />

<!-- Favicons for all devices -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/i/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="assets/i/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="assets/i/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="assets/i/favicons/manifest.json">
<link rel="mask-icon" href="assets/i/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
