<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <a class="header__logo" href="index.html">
                <img src="assets/i/cryptopolice-logo.png" width="135" alt="CryptoPolice">
            </a>
        </div>
        <div class="header__right">
            <ul class="header__profile">
                <li>
                    <img class="header__ava" src="http://placehold.it/23" alt="">
                </li>
                <li>
                    Name
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>
