.btn {
    display: block;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

    border: 0;
    background: linear-gradient(168deg, rgba($white, 0.17) 0%, rgba($white, 0.17) 32%, rgba(255,255,255, 0.1) 32%,rgba(255,255,255,0.20) 100%);
    box-shadow: 0 2px 3px rgba($real-black, .2);
    border-radius: 8px;

    text-decoration: none;
    color: $white;
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;

    transition: box-shadow .1s linear;

    &:hover,
    &:focus {
        text-decoration: none;
        background: linear-gradient(168deg, rgba($white, 0.27) 0%, rgba($white, 0.27) 32%, rgba(255,255,255, 0.2) 32%,rgba(255,255,255,0.30) 100%);
        box-shadow: 0 2px 10px rgba($real-black, .2);
    }

    &--full {
        width: 100%;
    }
}
