.choose {
    max-width: 767px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.choose__item {
    width: 48%;
    padding: 40px;

    border-radius: 15px;
    border: 2px solid rgba($white, .4);
    background: linear-gradient(170deg, rgba($white, 0.15) 0%, rgba($white, 0.15) 30%, rgba(255,255,255, 0.1) 30%,rgba(255,255,255,0.20) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset;

    text-align: center;

    @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media (max-width: 600px) {
        padding: 20px;
    }
}

.choose__content {
    margin-top: 25px;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 25px;

        background: linear-gradient(to right, rgba($white, 0), rgba($white, .5) 15%, $white 70%, rgba($white, .5) 85%, rgba($white, 0));
    }
}

.choose__title {
    margin: 0 0 20px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
}

.chooset__text {
    margin-bottom: 22px;

    color: $white;
    font-size: 12px;
}
