.content__inner {
    width: 100%;
    max-width: 898px;
    margin: 0 auto;
    height: 100%;
    padding: 25px 15px;
}

.content__header {
    margin-bottom: 40px;

    text-align: center;
}

.content__title {
    margin: 20px 0;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    color: $white;
    font-weight: 900;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.content__text {
    color: $white;
    font-size: 12px;
    text-align: center;
}
