.courses {
    margin: 0 0 38px;
    padding: 0;
    list-style: none;
}

.courses__item {
    margin-bottom: 14px;

    border-radius: 30px;
    border: 2px solid rgba($white, .4);
    background: linear-gradient(170deg, rgba($white, 0.15) 0%, rgba($white, 0.15) 30%, rgba(255,255,255, 0.1) 30%,rgba(255,255,255,0.20) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, .4) inset, 0 2px 3px rgba(0, 0, 0, .2);

    transition: opacity .1s linear;

    &:hover {
        opacity: .9;
    }
}

.courses__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 55px 7px 13px;

    background: url("#{$img}cross-ico.png") no-repeat right 6px center;

    &.watched {
        background-image: url("#{$img}check-ico.png");
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;
    }
}

.courses__num {
    padding-right: 25px;
    margin-right: 15px;

    border-right: 1px solid $white;

    color: $white;
    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;

    b {
        font-weight: 900;
    }

    @media (max-width: 600px) {
        width: 15%;
    }
}

.courses__title {
    color: $white;
    font-size: 14px;
    line-height: 1.2;

    @media (max-width: 600px) {
        width: 70%;
    }
}

.courses__footer {
    margin-bottom: 40px;
    text-align: center;

    .btn {
        display: inline-block;
        width: auto;
        min-width: 260px;
        margin: 6px;
    }
}

.courses__pages {
    text-align: center;
    color: $white;
    font-weight: 300;
}

.courses__score {
    width: 135px;
    padding: 2px;
    margin-left: 15px;

    background: linear-gradient(to bottom, #d8a8e5, #b563c5);
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);

    font-family: 'Gilroy', 'Roboto', sans-serif;
    color: $white;
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    span {
        width: 100%;
        display: block;
        padding: 2px;

        background-color: #cbcbcb;
        border-radius: 20px;
    }

    &.in-progress {
        span {
            background-color: #84c01b;
        }
    }

    @media (max-width: 600px) {
        width: 100%;
        margin-top: 10px;
    }
}




.courses__open {
    margin-top: 25px;
}

.courses__content {
    margin-bottom: 35px;

    color: $white;
    font-size: 12px;
    font-weight: 300;

    ul, ol {
        margin: 0 0 15px;
        padding: 0;
        list-style-position: inside;
    }

    p {
        margin-bottom: 15px;
    }
}
