.exam {
    margin-top: 20px;

    @media (max-width: 600px) {
        margin-top: 0;
    }
}

.exam__inner {
    width: 100%;
    margin: 0 auto;
}

.exam__progress {
    width: 100%;
    max-width: 767px;
    margin: 0 auto 40px;

    color: $white;
    font-size: 14px;
    font-weight: 300;

    @media (max-width: 600px) {
        margin-bottom: 20px;
    }
}

.exam__progress-bar {
    height: 9px;
    overflow: hidden;
    margin-top: 5px;

    background: linear-gradient(to bottom, #e1e1e1, #e1e1e1 50%, #d7d7d7 50%, #d7d7d7);
    border-radius: 5px;

    span {
        display: block;
        height: 100%;

        background: linear-gradient(to bottom, #9ecf35, #9ecf35 50%, #84c01b 50%, #84c01b);
    }
}

.exam__timer {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    position: relative;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;
    color: $white;
    font-size: 20px;

    &:after {
        content: "";
        display: block;
        width: 66px;
        height: 57px;

        background: url("#{$img}money-ico.png") no-repeat;

        position: absolute;
        top: 65px;
        right: 0;
        z-index: 1;
    }

    span {
        font-weight: 900;
    }

    .btn {
        display: inline-block;
        width: auto;
        min-width: 260px;

        + .btn {
            margin-left: 12px;
        }
    }
}

.exam__timer-inner {
    padding-right: 80px;
}

.exam__timer-progress {
    height: 9px;
    margin: 60px 0 50px;
    position: relative;

    background: linear-gradient(to bottom, #e1e1e1, #e1e1e1 50%, #d7d7d7 50%, #d7d7d7);
    border-radius: 5px;

    span {
        display: block;
        height: 100%;
        max-width: 100%;
        position: relative;

        background: linear-gradient(to bottom, #6c68ce, #6c68ce 50%, #4c48bf 50%, #4c48bf);
        border-radius: 5px 0 0 5px;

        transition: width .1s linear;

        &:before {
            content: "";
            display: block;
            width: 27px;
            height: 32px;
            margin-bottom: 3px;

            background: url("#{$img}scamer-ico.png") no-repeat;

            position: absolute;
            bottom: 100%;
            right: -13px;
            z-index: 1;
        }
    }
}
