.footer {
    width: 100%;
    height: 45px;

    background-color: #1b1f26;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    @media (max-width: 600px) {
        height: auto;
        padding: 10px 0;
    }
}

.footer__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 898px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;

    font-size: 12px;
    color: #ccc;

    b {
        font-weight: 900;
    }

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.footer__left,
.footer__right {
    width: 50%;

    @media (max-width: 600px) {
        width: 100%;
        text-align: center;
    }
}

.footer__social {
    text-align: right;

    span {
        display: inline-block;
        vertical-align: middle;

        font-weight: 900;
        line-height: 20px;

        margin-right: 20px;
    }

    a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        color: #ccc;
    }

    @media (max-width: 600px) {
        text-align: center;
    }
}
