.form {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__group {
    text-align: left;
}

.form__link {
    font-size: 10px;
    color: $white;
}
