.header {
    width: 100%;
    height: 78px;

    background: #282d38 url("#{$img}header-bg.png") 20% top no-repeat;
    background-size: auto 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 898px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__left {
    width: 35%;
    padding-top: 8px;
}

.header__right {
    width: 65%;
    text-align: right;
}

.header__logo {
    text-decoration: none;

    img {
        max-width: 100%;
        height: auto;
    }
}

.header__profile {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 12px;
    color: $white;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;

        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            position: relative;

            &:before {
                content: "";
                display: block;
                width: 1px;
                height: 100%;

                background-color: $white;

                position: absolute;
                top: 0;
                left: -10px;
                z-index: 1;
            }
        }
    }

    a {
        color: #ababab;
    }
}

.header__ava {
    display: block;

    border-radius: 50%;
}
