.input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 3px 10px 5px 30px;

    background: transparent;
    border: 0;
    border-bottom: 1px solid $white;

    font-size: 16px;
    font-weight: 300;
    color: $white;

    transition: border-color .1s linear;

    &:focus {
        outline: 0;
        border-bottom-color: #f5e25b;
    }

    &::placeholder {
        color: $white;
    }

    &--email {
        background: url("#{$img}mail.svg") left 5px no-repeat;
        background-size: 19px auto;
    }

    &--pswd {
        background: url("#{$img}password.svg") left 2px no-repeat;
        background-size: 19px auto;
    }

    &--confirm {
        background: url("#{$img}confirm_password.svg") left 2px no-repeat;
        background-size: 21px auto;
    }
}
