.page {
    height: auto;
    min-height: 100%;
    padding-top: 78px;
    padding-bottom: 45px;

    background: url("#{$img}bg.jpg") center no-repeat;
    background-size: cover;

    position: relative;

    &--sign {
        background: url("#{$img}sign-bg.jpg") center no-repeat;
        background-size: cover;
    }
}
