.question {
    padding: 40px;
    margin-bottom: 35px;

    border-radius: 15px;
    border: 2px solid rgba($white, .4);
    background: linear-gradient(170deg, rgba($white, 0.15) 0%, rgba($white, 0.15) 30%, rgba(255,255,255, 0.1) 30%,rgba(255,255,255,0.15) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset;

    @media (max-width: 600px) {
        padding: 20px;
    }
}

.question__title {
    margin-bottom: 20px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 32px;
    color: $white;

    b {
        font-weight: 900;
    }

    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.question__text {
    font-size: 14px;
    color: $white;
    font-weight: 300;
}

.question__header {
    padding-bottom: 35px;
    margin-bottom: 35px;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;

        background: linear-gradient(to right, rgba($white, 0), rgba($white, .5) 15%, $white 70%, rgba($white, .5) 85%, rgba($white, 0));

        position: absolute;
        bottom: 0;
        left: 0;
    }
}
