.radio {
    display: block;
    min-height: 32px;
    margin-bottom: $radio-margin-bottom;

    &:last-child {
        margin-bottom: 0;
    }
}

.radio__input {
    display: none;

    &:checked + .radio__label {
        font-weight: bold;
    }

    &:checked + .radio__label:after {
        opacity: 1;
    }

    &:checked + .radio__label:hover:after {
        opacity: 1;
    }
}

.radio__label {
    display: flex;
    height: 100%;
    min-height: 32px;
    align-items: center;
    vertical-align: top;
    padding-left: $radio-indent;

    cursor: pointer;
    font-size: $radio-font-size;
    line-height: 1.2;
    color: $radio-color;
    user-select: none;

    position: relative;

    transition: color .1s linear;

    &:before {
        content: "";
        display: block;
        width: $radio-before-width;
        height: $radio-before-height;

        border: $radio-before-border;
        background-color: $radio-before-bg;
        border-radius: 50%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transition: border-color .1s linear;
    }

    &:after {
        content: "";
        display: block;
        width: $radio-after-width;
        height: $radio-after-height;

        background-color: $radio-after-bg;
        border-radius: 50%;
        opacity: 0;

        position: absolute;
        top: 9px;
        left: 9px;
        z-index: 1;

        transition: background-color .1s linear, opacity .1s linear;
    }

    &:hover:not(&--disabled):after {
        opacity: $radio-opacity-disabled;
    }

    &--error {
        color: $radio-color-error;

        &:before {
            border-color: $radio-before-border-color-error;
        }
    }

    &--disabled {
        color: $radio-color-disabled;

        &:before {
            border-color: $radio-before-border-color-disabled;
        }

        &:hover {
            cursor: $radio-cursor-disabled;
        }
    }
}
